{% extends 'common/base.html' %}
{% load static %}

{% block content %}

    <div class="container my-5">
        {% block product-header %}
        {% endblock %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formset.management_form }}

            <div class="formset-container">
                {% for form in formset %}
                    <div class="form-row formset-entry row g-3 mb-3 p-2 border border-danger">
                        {% for field in form %}
                            <div class="d-flex align-items-center justify-content-center form-group">
                                 {% if field.label == 'Image' %}
                                    <div class="image-field-container">
                                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                        <div>
                                            {{ field }}
                                        </div>
                                    </div>
                                {% elif field.name == 'DELETE' %}
                                    <div class="p-3 border rounded bg-primary bg-opacity-10 p-3 border rounded bg-primary bg-opacity-10">
                                        {{ field }}
                                        <label for="{{ field.id_for_label }}" class="ms-2 fw-bold mb-0">
                                            Disable form if not needed
                                        </label>
                                    </div>
                                {% else %}
                                    <label for="{{ field.id_for_label }}" class="form-label">
                                        {{ field.label }}
                                    </label>

                                    {% block product-info %}
                                    {% endblock %}

                                {% endif %}
                                {% if field.errors %}
                                    <ul class="text-danger mt-1">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <div class="container mt-5">
                <button type="submit" class="btn btn-primary btn-lg mx-auto d-block">Save {{ entity_name }}</button>
            </div>

        </form>
    </div>

    <script src="{% static 'js/form-scripts.js' %}"></script>
{% endblock %}
