// Overriding Bootstrap
$headings-font-family: 'Plairfair Display';
$headings-family-base: 'Nunito';
$link-color: #212529;
$link-decoration: none;

@import 'typography';
@import "layout";
@import "reset";
@import "recommended-products";

// Import Bootstrap after variable overrides
@import '../../node_modules/bootstrap/scss/bootstrap';
