.footer {
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 90%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.footer p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.social-icons a:hover {
    color: #6c757d;
}

/* Top Footer */
.top-footer {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 90%;
    border-radius: 15px;
    text-align: center;
    background-color: #f8f9fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
