@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');



.main-page-title {
  color: #FA6957;
  position: relative;
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  font-weight: 400;
  font-size: 2rem;
}

.landing-hero {
  color: #FE83A9;
  //font-size: 4.5rem;
}

.main-page-title::before {
    content: "The";
    font-family: 'Dancing Script', 'cursive';
    position: absolute;
    font-size: 75%;
    left: -12%;
    opacity: 0.8;
    color: inherit;
}

.main-page-heading {
  color: #9E9E9E;
}

//.landing .main-page-heading {
//  color: #FA6957;
//}
