{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
    <div class="container text-center vh-100 p-4 justify-content-center">
        <h1>Oops! Page Not Found</h1>
        <p>The page you’re looking for doesn’t exist or has been moved.</p>
        <p>
            <a href="{% url 'landing-page' %}" class="btn btn-primary">Back to Landing Page</a>
        </p>
        <img src="https://res.cloudinary.com/dissmiwiq/image/upload/v1733412324/james-kelly-smith-D2KCi3AzRQ8-unsplash_zd4dwi.jpg"
             alt="404 Not Found"
             style="width: auto; max-height: 75%; margin: 1rem 0;">
    </div>
</body>
</html>
