{% extends 'common/base.html' %}

{% block content %}
<div class="about-us container py-5">
    <h1 class="text-center mb-4">About Us</h1>
    <p class="text-center fs-5">
        Welcome to The Secret Garden, where we bring beauty and joy to your special moments. 
        Our curated selection of flowers, gifts, and events is designed to inspire and 
        elevate every occasion. We're passionate about creating unforgettable experiences 
        for our customers.
    </p>

    <div class="row mt-5">
        <div class="col-md-4">
            <img src="https://res.cloudinary.com/dissmiwiq/image/upload/v1733343353/ellicia-24HcJhf0u6M-unsplash_ojphnx.jpg" 
                 alt="Beautiful Flowers" class="img-fluid rounded shadow">
            <p class="text-center mt-3">Curated floral arrangements</p>
        </div>
        <div class="col-md-4">
            <img src="https://res.cloudinary.com/dissmiwiq/image/upload/v1733343353/fons-heijnsbroek-XQY5mmwnbiw-unsplash_gektve.jpg" 
                 alt="Event Planning" class="img-fluid rounded shadow">
            <p class="text-center mt-3">A cozy venue for memorable events and experiences</p>
        </div>
        <div class="col-md-4">
            <img src="https://res.cloudinary.com/dissmiwiq/image/upload/v1733343353/jasmin-schreiber-hpVRzFfL2z8-unsplash_xdsriu.jpg" 
                 alt="Gifts and Decor" class="img-fluid rounded shadow">
            <p class="text-center mt-3">Handpicked flowers and gifts</p>
        </div>
    </div>

    <div class="mt-5">
        <h2 class="text-center">Our Story</h2>
        <p class="fs-5 text-center">
            The Secret Garden began with a vision to make life more beautiful. From intimate celebrations 
            to elegant flower arrangements and special gifts, our passion is to deliver quality and creativity. Join us in celebrating 
            life’s special moments.
        </p>
    </div>
</div>
{% endblock %}
