{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<div class="contact-us container py-5 text-center">
  <h2 class="text-center mb-4">We’d love to hear from you!</h2>
  <p class="mb-4">
    Write to us at our cozy corner in the Secret Garden. Your thoughts, feedback, or even a simple hello
    bring more charm to our blooming world.
  </p>
    
  <div class="address-box mx-auto p-4 rounded shadow-sm" style="max-width: 600px; background-color: #f8f9fa;">
    <h5 class="text-dark">Our Address</h5>
    <p class="mb-1 text-muted">Secret Garden Florals</p>
    <p class="mb-1 text-muted">123 Bloom Lane</p>
    <p class="mb-1 text-muted">Kazanlak, 54321</p>
    <p class="text-muted">Bulgaria</p>
  </div>
    
      <div class="contact-form-section mt-5">
        <h3 class="text-center mb-3">Contact Us Here</h3>
        <p class="text-muted text-center mb-4">Feel free to reach out to us using the form below. We’ll get back to you as soon as possible.</p>
    
        <form id="contact-form" class="mx-auto" style="max-width: 600px;">
            {% csrf_token %}
          <div class="form-group mb-3">
            <label for="name" class="form-label">Your Name</label>
            <input type="text" id="name" class="form-control" placeholder="Enter your name" required>
          </div>
          <div class="form-group mb-3">
            <label for="email" class="form-label">Your Email</label>
            <input type="email" id="email" class="form-control" placeholder="Enter your email address" required>
          </div>
          <div class="form-group mb-4">
            <label for="message" class="form-label">Your Message</label>
            <textarea id="message" class="form-control" placeholder="Write your message" rows="4" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Send Message</button>
        </form>
          
        <div id="response-message" class="mt-4 col-md-8 mx-auto"></div>
      </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/contact-scripts.js' %}"></script>
{% endblock %}
