<a href="{% url 'landing-page' %}" class="text-decoration-none">
    <div class="hero container-fluid text-center overlay-content d-flex flex-column justify-content-center align-items-center {% if is_landing_page %}vh-100{% endif %}">
        <h1 class="main-page-title {% if is_landing_page %}landing-hero{% endif %}">SECRET GARDEN</h1>
        {% if is_landing_page %}
        <h3 class="main-page-heading">
            <a class="text-decoration-none" href="{% url 'plants-list' %}">FLOWERS</a> |
            <a class="text-decoration-none" href="{% url 'gifts-list' %}">GIFTS</a> |
            <a class="text-decoration-none" href="{% url 'events-coming-soon' %}">EVENTS</a>
        </h3>
        {% endif %}
    </div>
</a>