{% extends 'common/base.html' %}
{% block content %}
    <div class="bg-fade-wrapper">
        <div class="hero container text-center overlay-content d-flex flex-column justify-content-center align-items-center vh-100">
            <p class="main-page-title">SECRET GARDEN</p>
            <h3 class="main-page-heading">BOUTIQUE FLOWER & EVENT SHOP</h3>
        </div>
        <div class="bg-fade">
            <img class="bg-fade" src="https://res.cloudinary.com/dissmiwiq/image/upload/v1730401574/joanna-kosinska-ToV0rS9nTYs-unsplash_rf9cxa.jpg" alt="orchid">
        </div>
        <div class="bg-fade">
            <img src="https://res.cloudinary.com/dissmiwiq/image/upload/v1730486602/irina-HP9_dGIQEik-unsplash_ijtxvl.jpg" alt="wedding-bouquet">
        </div>
        <div class="bg-fade">
            <img src="https://res.cloudinary.com/dissmiwiq/image/upload/v1730486604/freestocks-k-Rp0V0XWWU-unsplash_jsziui.jpg" alt="gift">
        </div>
    
{#        <div class="social">#}
{#            <a href="https://facebook.com" class="btn btn-outline-primary rounded-circle">#}
{#                <i class="bi bi-facebook"></i>#}
{#            </a>#}
{#            <a href="https://instagram.com" class="btn btn-outline-danger rounded-circle">#}
{#                <i class="bi bi-instagram"></i>#}
{#            </a>#}
{#            <a href="mailto:email@example.com" class="btn btn-outline-secondary rounded-circle">#}
{#                <i class="bi bi-envelope"></i>#}
{#            </a>#}
{#        </div>#}
    </div>
{% endblock %}