{% load static %}
<div class="bg-fade">
    <img class="bg-fade" src="https://res.cloudinary.com/dissmiwiq/image/upload/v1730401574/joanna-kosinska-ToV0rS9nTYs-unsplash_rf9cxa.jpg" alt="orchid">
</div>
<div class="bg-fade">
    <img src="https://res.cloudinary.com/dissmiwiq/image/upload/v1730486602/irina-HP9_dGIQEik-unsplash_ijtxvl.jpg" alt="wedding-bouquet">
</div>
<div class="bg-fade">
    <img src="https://res.cloudinary.com/dissmiwiq/image/upload/v1730486604/freestocks-k-Rp0V0XWWU-unsplash_jsziui.jpg" alt="gift">
</div>