{% if messages %}
    <div id="messages-container" class="w-75">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                {{ message }}
                {% if "You must provide an address to place an order." in message|safe %}
                    Please <a href="{% url 'profile-edit' slug=request.user.slug %}" class="alert-link">update your profile</a>.
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}
