{% if messages %}
    {% for message in messages %}
        {% if message.tags == "success" %}
            <div class="success-message mt-3 px-3">
                <i class="fa-solid fa-circle-check"></i> 
                <p>{{ message }}</p>
            </div>
        {% else %}
            <div class="alert alert-danger mt-3 px-3" role="alert">
                <i class="fa-solid fa-circle-exclamation"></i>
                <p>{{ message }}</p>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
