
<nav class="navbar navbar-expand-lg navbar-light flex-column container p=0">
      <div class="navbar-brand p-3">
          {% include 'common/hero.html' %}
      </div>

    <!-- Toggle button for mobile views -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link fs-4 fs-sm-5 fs-md-6" href="/flowers">Flowers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4 fs-sm-5 fs-md-6" href="/gifts">Gifts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4 fs-sm-5 fs-md-6" href="/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4 fs-sm-5 fs-md-6" href="/about">About Us</a>
        </li>
      </ul>
    </div>
</nav>
