a.btn-warning-subtle {
    background-color: #fff3cd !important;
    border-color: #ffeeba !important;
    color: #856404 !important;
}

a.btn-warning-subtle:hover {
    background-color: #ffeeba !important;
    border-color: #ffd994 !important;
    color: #654d03 !important;
}

.btn-danger-subtle {
    background-color: #f8d7da !important;
    border-color: #f5c2c7 !important;
    color: #842029 !important;
}

.btn-danger-subtle:hover {
  background-color: #f5c2c7 !important;
  border-color: #f1aeb5 !important;
  color: #6a1d25 !important;
}

.btn-primary-subtle {
    background-color: #d1e7dd !important;
    border-color: #badbcc !important;
    color: #0f5132 !important;
}

.btn-primary-subtle:hover {
    background-color: #badbcc !important;
    border-color: #92c8b5 !important;
    color: #0b3c26 !important;
}
