{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid flowers-section text-center">
        <h1>FLOWERS</h1>
    </div>
    
    <div class="container-fluid my-5 p-0">
        <div class="row">
            <!-- Flower Card 1 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{% static 'images/alex-seinet-8dmtbpJJJ7k-unsplash.jpg' %}" class="card-img-top" alt="Flower Image">
                    <div class="card-body">
                        <h5 class="card-title">Flower Name 1</h5>
                        <p class="card-text">A short description of the flower.</p>
                    </div>
                </div>
            </div>
    
            <!-- Flower Card 2 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{% static 'images/alex-seinet-8dmtbpJJJ7k-unsplash.jpg' %}" class="card-img-top" alt="Flower Image">
                    <div class="card-body">
                        <h5 class="card-title">Flower Name 2</h5>
                        <p class="card-text">A short description of the flower.</p>
                    </div>
                </div>
            </div>
    
            <!-- Flower Card 3 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{% static 'images/alex-seinet-8dmtbpJJJ7k-unsplash.jpg' %}" class="card-img-top" alt="Flower Image">
                    <div class="card-body">
                        <h5 class="card-title">Flower Name 3</h5>
                        <p class="card-text">A short description of the flower.</p>
                    </div>
                </div>
            </div>
    
            <!-- Flower Card 4 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{% static 'images/alex-seinet-8dmtbpJJJ7k-unsplash.jpg' %}" class="card-img-top" alt="Flower Image">
                    <div class="card-body">
                        <h5 class="card-title">Flower Name 4</h5>
                        <p class="card-text">A short description of the flower.</p>
                    </div>
                </div>
            </div>
    
            <!-- Flower Card 5 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{% static 'images/alex-seinet-8dmtbpJJJ7k-unsplash.jpg' %}" class="card-img-top" alt="Flower Image">
                    <div class="card-body">
                        <h5 class="card-title">Flower Name 5</h5>
                        <p class="card-text">A short description of the flower.</p>
                    </div>
                </div>
            </div>
    
            <!-- Flower Card 6 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{% static 'images/alex-seinet-8dmtbpJJJ7k-unsplash.jpg' %}" class="card-img-top" alt="Flower Image">
                    <div class="card-body">
                        <h5 class="card-title">Flower Name 6</h5>
                        <p class="card-text">A short description of the flower.</p>
                    </div>
                </div>
            </div>
    </div>
</div>

{% endblock %}