{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <div class="container flowers-section text-center">
        <h1>FLOWERS</h1>
    </div>
    
   <div class="container-fluid my-5 p-0">
    <div class="row g-4">
        {% for plant in plants %}
        <div class="col-md-4">
            <div class="card shadow-sm border-0 h-100">
                <div class="ratio" style="aspect-ratio: 3 / 4;">
                    <img src="{{ plant.photo.url }}" class="card-img-top" alt="Flower Image" style="object-fit: cover;">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center fw-semibold">{{ plant.name }}</h5>
                    <p class="card-text">{{ plant.description }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <h1>We are sorry, there are no plants in our stock at the moment!</h1>
        {% endfor %}
    </div>
</div>


{% endblock %}