{% extends 'common/product/product-bulk-create.html' %}
{% load form_tags %}

{% block product-header %}
    <h1 class="text-center mb-5">Add Plants to Stock</h1>
{% endblock %}

{%  block product-info %}
    {% if field.name == 'name' %}
        {{ field|placeholder:"Enter name" }}
    {% elif field.name == 'price' %}
        {{ field|placeholder:"Enter price" }}
    {% elif field.name == 'stock' %}
        {{ field|placeholder:"Enter stock" }}
    {% elif field.name == 'description' %}
        {{ field|placeholder:"Enter description" }}
    {% else %}
        {{ field }}
    {% endif %}
{% endblock %}