{% extends 'common/base.html' %}

{% block content %}
<div class="container text-center mt-5">
    <div class="container products-section events text-center">
            <h1>EVENTS</h1>
    </div>
    
    <p class="lead fw-bold fst-italic">We're working hard to bring you exciting events! Stay tuned for updates.</p>
    <img src="https://res.cloudinary.com/dissmiwiq/image/upload/v1733331542/al-elmes-ULHxWq8reao-unsplash_qibqjk.jpg" 
         alt="Coming Soon" class="img-fluid rounded shadow" style="max-height: 400px;">
    <p class="text-muted mt-3">Check back soon for updates!</p>
</div>
{% endblock %}
